.App {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  padding: 15px;
  margin: 20px;
  max-width: 1000px;
  border-radius: 20px;
}

h1,
h2 {
  font-family: "Arvo", serif;
  position: relative;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  padding-top: 40px;
  padding-left: 5px;
  text-transform: capitalize;
  position: relative;
}
img {
  width: 60px;
}
.form-group {
  width: auto !important;
}

.col-2 {
  position: relative;
  left: 100px;
  padding-top: 15px;
}

.col-2,
.col-3 {
  font-family: "Antic Slab", serif;
}

.search-form {
  position: relative;
  margin-top: 60px;
  width: 400px;
}
.footer {
  position: relative;
  left: 5px;
  color: hsla(blue);
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
